/*---------- Breakpoints ----------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) { 
    .menu {
        height: 8.5vh;
        padding-top: 5%;
        padding-left: 7%;
    }
    #navigation {
        right: 7%;
    }
    #navigation a {
        font-size: 1.5vh;
    }
    .menu img {
        height: 4vh;
    }
    #arch, #photo {
        display: inline-block;
        text-align: center;
        padding: 0 0 0 3vw;
    }
    #name {
        line-height: 4vh;
        font-size: 3.3vh;
    }


    /*---------- Intro ----------*/
    h1 {
        font-size: 8vw;
        line-height: 10vw;
    }
    .intro{
        width: 85vw;
        height: 60vh;
        margin: 15vh auto 0;
        display: inline-block;
        text-align: left;
    }
    #typed {
        font-size: 8vw; 
        line-height: 10vw;
        font-weight: 400;
        display: inline;
        color: #0017e6;
        font-style: italic;
    }

    /*---------- Home ----------*/
    .product-menu h2{
        /* padding-top: 2.2vh; */
        font-size: 3.3vh;
        display: inline-block;
    }
    .project-title {
        padding-top: 0;
        line-height:3.5vh;
        padding-left: 3.5vw;
    }
    .project-date {
        position: absolute;
        right: 0;
        right: 7%;
        padding-top: .8vh;
    }
    .home-thumbnail{
        padding: 4vh;
    }
    .col-md-5 {
        padding: 0 7vw 4vh 7vw;
    }
    .col-md-5 a{
        font-size: 2.3vh; 
    }
    p {
        font-size: 2.3vh; 
        line-height: 3.8vh;
    }
    /*---------- Footer ----------*/
    .footer .row{
        font-size: 2.3vh;
        padding: 1vh 0;
        margin: 0;
    }
    .footer a{
        font-size: 3.3vh;
        /* line-height: 6vh; */
        color: #0017e6;
    }
    .footer .col-md-3{
        position: absolute;
        left: 3%;
        display: inline-block;
    }
    .footer .col-md-9{
        max-width: 55%;
        position: absolute;
        right: 3%;
        display: inline-block;
    }
    /*---------- About ----------*/
    .about {
        margin: 10vh 3.5vh 6vh 3.5vh;
        width: 90%;
    }
    .about h2{
        /* padding-top: 2.2vh; */
        font-size: 3vh;
        line-height: 4.5vh;
    }

    .navy {
        color: #0017e6;
    }

    .tip {
        position: relative;
        display: inline-block;
        color: #0017e6;
        font-style: italic;
    }
    .tip .tooltip-text {
        width: 45vw;
        border-color: #0017e6;
        padding: 2.5vh;
        font-size: 2.2vh;
        line-height: 3.2vh;
    
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 5vh;
        left: -5%; 
    }
    .tip:hover .tooltip-text {
        visibility: visible;
    }
    #socials {
        padding: 1vh 1.7vh;
        align-content: center;
    }
    #socials .col-md-4{
        display: inline-block;
    }
    #socials a{
        font-size: 2.3vh;
    }
    #instagram {
        min-width: 42%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 