@import url(//db.onlinewebfonts.com/c/3958068da9870842af9998bb94b99cd8?family=Clearface);
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+SC:wght@400;500&family=Open+Sans:wght@400;600&display=swap');

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
body {
    font-family: embury-text, serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-style: normal;
    font-weight: 300;
    background-color: white;
}

.menu {
    width: 150px; 
    position: fixed;
    z-index: 12000;
    top: 0; /* Stay at the top */
    left: 0;
    /* overflow-x: hidden;  */
	padding-top: 2.5%;
    padding-left: 4%;
    font-family:'Archivo Black', sans-serif;
}

a{
    color: black;
    text-decoration: none;
    font-weight: 300;
    /* font-size: 2.3vw; */
    font-size: 2vw;
    line-height: 3.4vw;
}

a:hover, a:active {
	text-decoration: none !important;
    color: inherit !important;
    background-color: #f5632e;
}

.image a{
    background-color: transparent;
}

.sub-menu {
    width: 20vw; 
    position: fixed;
    z-index: 10000;
    /* top: 15vw; 
    left: 0; */
    top: 5vw; 
    left: 75vw;
	padding-top: 2.7%;
    padding-left: 3%;
}

.sub-menu a{
    font-size: 1.2vw;
    line-height: 1.4vw;
}


.studio{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home{
    width: 50vw;
    margin: 23vh auto;
    padding-left: 5vw;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.studio {
    margin-top: 4vw;
}

.text a, .about a{
    font-size: inherit !important;
    font-weight: inherit !important;
}

.text a{
    color: #f5632e;
}

.sorry {
    width: 40vw;
}

.about a{
    line-height: 2.1vh;
}

h1 {
    font-size: 5vw;
    font-weight: 00;
    font-family:'Archivo Black', sans-serif;
}

p {
    font-size: 2vw; 
    line-height: 3vw;
    font-weight: 300;
    transform: scale(.97,1);
}

#typed {
    font-size: 2vw; 
    line-height: 3vw;
    font-weight: 300;
    display: inline;
    /* text-decoration: underline; */
    color: #f5632e;
}

.image{
    margin: 5vw 2vw 5vw 0vw;
}

.link{
    margin: 2.5vh 0;
}

.link1{
    margin: 1vh 0 2.5vh 0;
}

a:hover {
    /* cursor: url(/img/mouse/circle-mouse.png) 15 15, auto; */
    cursor: url(/img/mouse/cursor-10.png) 10 10, auto;
}

.sub-menu a:hover{
	background-color: #f5632e;
}

.active{
	background-color: #f5632e;
}

.copyright{
    font-family: "Archivo Black", sans-serif;
    color: rgba(109, 109, 109, 0.375);
    position: fixed;
    bottom: 2%;
    left: 4%;
    font-size: 1.5vh;
    line-height: 2vh;
    z-index: 10000;
}