@import url("https://use.typekit.net/znq5bgq.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body {
    font-family: neue-haas-grotesk-text, sans-serif;
    color: black;
    background-color: white;
}

.text {
    margin: 5vh auto;
    font-size: 3vh; 
    font-weight: 400;
    line-height: 5vh;
    font-family: 'Inter', sans-serif;
    font-family: neue-haas-unica, sans-serif;
    color: #7a7a7a;
}

.info {
    /* margin-bottom: .5vh; */
    padding-top: 4.5vh;
    font-size: 2.5vh; 
    font-weight: 400;
    line-height: 4vh;
}

h1 {
    font-size: 4.5vw;
    font-weight: 800;
    line-height: 5vw;
    font-family: neue-haas-grotesk-display, sans-serif;
    /* font-family: degular-text, sans-serif; */
}

h2 {
    font-size: 2.5vh;
    font-weight: 400;
    line-height: 4vh;
    /* position: absolute; */
    color: black;
    /* letter-spacing: .08vw; */
    /* transform: scale(1, 1.03); */
}

h3 {
    font-family: neue-haas-grotesk-text, sans-serif;
    margin:2vh auto;
    font-size: 3.5vh; 
    font-weight: 400;
    line-height: 5vh;
    color: #0017e6;
}

hr {
    border: 0;
    border-top: 1.5px solid #0017e6;
    border-bottom: 0;
    display: block;
    /* border-color:solid #d94f45;
    background-color:solid #d94f45; */
    margin: 12vh 0 0 0;
    width: 70vw;
    z-index: 500;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 3.5vh;
    line-height: 4vh;
}

a:hover, a:active {
	text-decoration: none !important;
    color: white !important;
    background-color: #0017e6;
}

/*---------- Menu ----------*/
.menu {
    margin:0;
    padding:0;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1000;
    top: 0;
	padding-top: 2%;
    padding-left: 4%;
    background-color: white;
}

.back {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 4vh;
    line-height: 5.7vh;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    right: 4%;
    margin: 0;
    padding: 0;
}

/*---------- Product Design Structure ----------*/
.entry {
    width: 75%;
    height: 100%;
    position: absolute;
    right:3.5vw;
    padding: 4vh 8vw;
    /* display: flex; */
    /* align-items: center;
    flex-direction: column; */
    /* text-align: justify; */
}

.sub-menu {
    font-family: neue-haas-grotesk-text, sans-serif;
    width: 18vw; 
    position: fixed;
    z-index: 1000;
    top: 14vh; 
    left: 4vw;
}

.active{
	color: #0017e6;
}

.link{
    margin: 3vh 0;
}

.link1{
    margin: 3vh 0 2vh 0;
}

/*---------- Copysmith Specific ----------*/
#extras {
    text-align: center;
    position: absolute;
    margin-top: 5vh;
    left: 3vw;
}

#extras .btn {
    background: none;
    color: inherit;
    border: none;
    border-radius: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: degular-text, sans-serif;
    font-weight: 500;
    font-size: 2vh;
}

#extras .btn:hover {
    text-decoration: none !important;
    color: white !important;
    background-color: #0017e6;
}

.hero-outline {
    fill: white;
    stroke: #0017e6;
    stroke-width: 3px;
}

#cs-hero {
    position:absolute;
    top: 12%;
    left: 15%;
}

a img:hover {
    background-color: white !important;
}

.modal-content{
    z-index: 10000;
    border-radius: 0px !important;
    border:1.5px solid #0017e6;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    padding: 0 2vw;
    height: 92vh;
    overflow-y: scroll;
}

.modal-header {
    border-bottom:0;
    background-color: white;
    position: -webkit-sticky;
    top: 0px;
    margin-top: -3vh;
    z-index: 8000;
    width: 100%;
    padding-top: 4vh;
}

.modal-body {
    font-size: 3vh; 
    font-weight: 400;
    line-height: 5vh;
    font-family: 'Inter', sans-serif;
    font-family: neue-haas-unica, sans-serif;
    color: #7a7a7a;
    margin: 5vh auto;
}

.modal-body hr{
    width: 100%;
    margin-top: 5vh;
}

.modal-body h3 {
    margin:2vh auto 0;
}

.close {
    font-size: 6vh;
    font-weight: 300;
    color: #0017e6;
    opacity: .5;
    margin-top: 0;
    position: absolute;
    right: 2vw;
}

.close:hover {
    font-weight: 300;
    color: #0017e6;
    opacity: 1;
}

/* .modal-header h3{
    font-size: 2.5vh;
    line-height: 2.5vh;
} */


/*---------- Entry Title ----------*/

.title {
    margin-top: 8vh;
}

.info {
    /* margin-bottom: .5vh; */
    padding-top: 4.5vh;
    font-size: 2.5vh; 
    font-weight: 400;
    line-height: 4vh;
}

.left {
    padding-top: 1.5vh;
}

.gray {
    color: #7a7a7a;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-size: 1.8vh;
}

/*---------- Entry Body ----------*/

.bullets {
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 4vh;
    margin: 3.5vh 0vw 1vh 0vw;
    padding: 0;
    list-style-type:none;
    /* text-align: justify; */
}

.bullets-ee {
    font-size: 2.7vh;
    line-height: 4.5vh;
    padding: 0 6vw;
    margin-top: 0;
    list-style-type:none;
}

.sub-bullets {
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 3.7vh;
    margin: 1vh 5vw 2vh 3vw;
    list-style-type:none;
}

li {
    margin: 15px 0;
}

.subtitle {
    font-weight: 800;
    font-size: 1.7vw;
    line-height: 4vh;
    color: #7a7a7a;
}

.caption {
    font-weight: 300;
    font-size: 2vh;
    color: #7a7a7a;
}

button{
    background-color: transparent;
    border: none;
    color: #f5632e;
    padding: 0;
}

button:hover {
    font-weight: 800;
    color: #f5632e;
}

.content {
    display: none;
    overflow: hidden;
}

/* CAROUSEL */
/* #carousel1 img,
#carousel2 img{
    width: 53vw;
}
     */

.carousel-inner {
    height: 65vh !important;
}  

.right.carousel-control{
    height: 12px;
    position: absolute;
    top: 50%;
    left: 83%;
    transform: rotate(-90deg);
}

.left.carousel-control{
    height: 12px;
    position: absolute;
    top: 50%;
    left: -8%;
    transform: rotate(-90deg);
}

.glyphicon {
    height: 12px;
    width: auto;
}

.carousel-indicators{
    visibility: hidden;
}

.carousel-control{
  background: none !important;
  filter: none !important;
  color: black;
}

/* .carousel .item {
    -webkit-transition: 0.6s ease-in-out right;
    -moz-transition:    0.6s ease-in-out right;
    -ms-transition:     0.6s ease-in-out right;
    -o-transition:      0.6s ease-in-out right;
    transition:         0.6s ease-in-out right;
    left:               0;
} */

.carousel .active,
.carousel .next.left,
.carousel .prev.right { right: 0; }

.carousel .next,
.carousel .active.right { right:  -100%; }

.carousel .prev,
.carousel .active.left { right: 100%; }      


