@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300i,400i");
@import url("https://fonts.googleapis.com/css?family=DM+Sans|Didact+Gothic|Noto+Sans+SC:700&display=swap");


body {
    /* background-color: #f1f3f1; */
    overflow: scroll;
    font-family: 'DM Sans';
}

i {
    color: black;
}

a:link, a:hover, a:visited {
	color: black;
	text-decoration: none;
}

.menu {
    width: 175px; 
    position: fixed;
    z-index: 12000;
    top: 0; /* Stay at the top */
    left: 0;
    /* overflow-x: hidden;  */
	padding-top: 2.5%;
	padding-left: 4%;
    font-family: embury-text, serif;
    font-style: normal;
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 2.3vw;
    line-height: 3.4vw;
}

a:hover, a:active {
	text-decoration: line-through !important;
	color: inherit !important;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.yelp .title {
    font-weight: 700;
    font-size: 2.8vw;
    line-height: 6vh;
    text-align: center;
    padding-top: 10vh;
    color:black;
}

.note {
    font-weight: 500;
    font-size: 1.1vw;
    line-height: normal;
    text-align: center;
    padding-top: 2vh;
}

.entry-info {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2vw;
    color:black;
    line-height: 1.7;
    text-align: left;
}

.yelp .text {
    font-weight: 400;
    font-size: 1.3vw;
    padding: 7vh 20vw;
    color:black;
    line-height: 1.7;
}

.bullets {
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 3vh;
    margin: 3.5vh 14vw 3.5vh 8vw;
    list-style-type:none;
}

li {
    margin: 15px 0;
}

.yelp .subtitle {
    font-weight: 600;
    font-size: 1.9vw;
    line-height: normal;
    margin: 5vh auto 1vh;
    color:black;
}

.sub-subtitle {
    font-weight: 600;
    font-size: 1.6vw;
    line-height: normal;
    margin: 5vh auto 1vh;
    color:black;
}

.captions {
    font-weight: 300;
    font-size: 1.1vw;
    line-height: normal;
    font-style: oblique;
    color: white;
    padding-bottom: 5vh;
}


iframe {
    display: block;
    margin: 0 auto;
}

.video-responsive{
    overflow:hidden;
    /* padding-bottom:56.25%; */
    padding-bottom:70%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
