@import url(fontawesome-all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700; 0,800; 1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+SC:wght@400;500&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Karla:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
body {
    overflow: scroll;
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
    background-color: #171717;
}

i {
    /* color: black; */
    color: white;
}

a:link, a:hover, a:visited {
	color: white;
	text-decoration: none;
}

.menu {
    width: 175px; 
    position: fixed;
    z-index: 12000;
    top: 0;
    left: 0;
	padding-top: 2.5%;
	padding-left: 4%;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 2.3vw;
    line-height: 3.4vw;
    font-family: "Archivo Black", sans-serif;
}

a:hover, a:active {
	text-decoration: none !important;
    color: inherit !important;
    background-color: #f5632e;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.title {
    font-weight: 800;
    font-size: 3vw;
    line-height: 7vh;
    text-align: center;
    padding-top: 18vh;
    color:black;
    color: #ebebeb;
    font-family: "Archivo Black", sans-serif;
}

.note {
    font-weight: 500;
    font-size: 1.3vw;
    line-height: normal;
    text-align: center;
    padding-top: 2vh;
}


.entry{
    font-weight: 400;
    font-size: 1.3vw;
    color:black;
    line-height: 4vh;
    text-align: justify;
    color: #ebebeb;
}

.text {
    padding: 0vh 15vw;
}

.bullets {
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 3.2vh;
    margin: 3.5vh 0vw 1vh 0vw;
    list-style-type:none;
    text-align: left;
}

.bullets-ee {
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 3.7vh;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    list-style-type:none;
}

.sub-bullets {
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 3.7vh;
    margin: 1vh 5vw 2vh 3vw;
    list-style-type:none;
}

li {
    margin: 15px 0;
}

.subtitle {
    font-weight: 800;
    font-size: 1.7vw;
    line-height: 4vh;
    color: #a3a3a3;
}

.sub-subtitle {
    font-weight: 700;
    font-size: 1.4vw;
    line-height: normal;
    margin: 5vh auto 2vh;
    color:black;
    color: #ebebeb;
}

.captions {
    font-weight: 300;
    font-size: 1.2vw;
    line-height: normal;
    font-style: oblique;
    color: #ebebeb;
    padding-bottom: 5vh;
}

.row{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.left{
    padding-left: 16vw;
}

.right{
    padding-right: 16vw;
}

button{
    background-color: transparent;
    border: none;
    color: #f5632e;
    padding: 0;
}

button:hover {
    font-weight: 800;
    color: #f5632e;
}

.content {
    display: none;
    overflow: hidden;
    background-color: #171717;

  }

iframe {
    display: block;
    margin: 0 auto;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:70%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    /* height:100%; */
    width:100%;
    position:absolute;
}
